/* Roboto font by google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

/* layout */

.layout {
  display: flex;
  background-color: #1f2937;
}
.empty {
  flex: 1;
}
.content {
  width: 1200px;
}

/* header */

.header {
  padding: 20px 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}
.header ul {
  display: flex;
  gap: 24px;
  color: #e5e7eb;
  font-size: 18px;
  list-style-type: none;
}